<%= provide(:title, 'RentFarmland details' ) %>
<h1>Rent farmland details</h1>
<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card-group">
          <div class="card-body">
            <div class="row">
              <div class="mypage-avatar">
                <% if @rent_farmland.user.avatar.attached? %>
                  <div class="avatar">
                    <%= image_tag @rent_farmland.user.avatar, class: "avatar" %>
                  </div>
                <% else %>
                  <img src="/assets/profile_default_img_128.png" class="default-avatar">
                <% end %>
              </div>
              <div class="card-body">
                <div class="mypage-name">
                  <h3><%= link_to @rent_farmland.user.name, user_path(@rent_farmland.user) %></h3>
                </div>
                <div class="mypage-self_info">
                  <%= @rent_farmland.user.self_info %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="card-group rent_philosophy-box">
              <div class="card-body">
                <div class="rent_philosophy-for-show mb-3">
                  私の農業哲学
                </div>
                <%= @rent_farmland.rent_philosophy %>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-group">
              <div class="card-body">
                <div>
                  <table>
                    <tr>
                      <th>借りたい田畑の場所</th>
                      <td>
                        <%= @rent_farmland.rent_municipality %>
                        <% if @rent_farmland.rent_municipality_before_type_cast == 0 %>
                          <%= @rent_farmland.rent_chino %>
                        <% elsif @rent_farmland.rent_municipality_before_type_cast == 1 %>
                          <%= @rent_farmland.rent_hara %>
                        <% elsif @rent_farmland.rent_municipality_before_type_cast == 2 %>
                          <%= @rent_farmland.rent_fujimi %>
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <th>借りたい田畑の面積</th>
                      <td><%= @rent_farmland.rent_area %></td>
                    </tr>
                    <tr>
                      <th>借りたい農地の種類</th>
                      <td><%= @rent_farmland.rent_field_type %></td>
                    </tr>
                    <tr>
                      <th>農地をすぐに借りたいか</th>
                      <td><%= @rent_farmland.borrow_immediately %></td>
                    </tr>
                    <tr>
                      <th>使用希望年数</th>
                      <td><%= @rent_farmland.rent_desired_year %></td>
                    </tr>
                    <th>借りる条件</th>
                    <td><%= @rent_farmland.renting_term %></td>
                  </tr>
                  <% if @rent_farmland.rent_other_term.present? %>
                    <tr>
                      <th>その他条件</th>
                      <td><%= @rent_farmland.rent_other_term %></td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <% if current_user?(@rent_farmland.user) %>
          <div class="row">
            <div class="mr-2">
              <%= link_to "編集", edit_rent_farmland_path(@rent_farmland), class: "btn btn-outline-secondary" %>
            </div>
            <div class="farmland-destroy">
              <%= link_to "削除", rent_farmland_path(@rent_farmland), method: :delete, class: "btn btn-outline-secondary", data: { confirm: '本当に削除してもよろしいですか？'} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
