<% if logged_in? %>
  <div class=py-4>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-group">
                <div class="card-body">
                  <div class="row">
                    <div class="mypage-avatar">
                      <% if current_user.avatar.attached? %>
                        <div class="avatar">
                          <%= image_tag current_user.avatar, class: "avatar" %>
                        </div>
                      <% else %>
                        <img src="/assets/profile_default_img_128.png" class="default-avatar">
                      <% end %>
                    </div>
                    <div class="col-sm-9">
                      <div class="mypage-name">
                        <h3><%= link_to current_user.name, current_user %></h3>
                      </div>
                      <div class="mypage-self_info">
                        <%= current_user.self_info %>
                      </div>
                      <% if current_user.admin? && !current_user?(user) %>
                        <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-group news">
                    <div class="card-body">
                      <div class="mypage-news">
                        <% if unchecked_notifications.any? %>
                          <h5><%= link_to "お知らせが#{current_user.passive_notifications.where(checked: false).size}件あります", notifications_path %></h5>
                        <% else %>
                          <h5>お知らせはありません</h5>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-group">
                    <div class="card-body">
                      <ul class="nav nav-tabs" id="tabtab" role="tablist">
                        <li class="nav-item" role="tab">
                          <a aria-controls="tab_a" class="nav-link" data-toggle="tab" href="#tab_a" role="tab" aria-selected="true">
                            フィード
                          </a>
                        </li>
                        <li class="nav-item" role="tab">
                          <a aria-controls="tab_b" class="nav-link" data-toggle="tab" href="#tab_b" role="tab" aria-selected="false">
                            気になる農地
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane fade" id="tab_a" role="tabpanel">
                          <%= render 'shared/feed' %>
                        </div>
                        <div class="tab-pane fade" id="tab_b" role="tabpanel">
                          <p>
                            ここは気になる農地の情報だよ
                          </p>
                        </div>
                      </div>
                      <script>
                        $('#tabtab a[href="#tab_a"]').tab('show')
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <%= render 'shared/post_form' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="top-image">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="top">
            Why don't you build the foot of Mt. 8gatake where everyone has a place to stay?<
          </div>
              <%= link_to 'Sign up now!', signup_path, class: "btn btn-lg btn-dark", id: 'top-signup' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
