<div class="card-body">
  <ul class="list-group list-group-horizontal post-attached">
    <li class="list-group-item flex-fill">ほうゆう</li>
    <li class="list-group-item flex-fill comment-count">
      コメント&nbsp;<%= @post.comments.count %>
    </li>
    <li class="list-group-item flex-fill">
      <%= time_ago_in_words(@post.created_at) %>
    </li>
  </ul>
</div>
<% @post.comments.each do |comment| %>
<% unless comment.id.nil? %>
<li class="comment-container">
  <div class="comment-box">
    <div class="comment-text">
      <p><%= comment.user.name %></p>
      <div class="comment-entry">
        <%= comment.remark %>
        <%= image_tag comment.comment_image if comment.remark_image.attached? %>
        <% if comment.user == current_user %>
        <div class="comment_destroy">
          <%= link_to '削除', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "btn btn-secondary", data: { confirm: '本当に削除してもよろしいですか？'} %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</li>
<% end %>
<% end %>
