     
<ul class="form-mes">
  <li>最後の「その他条件」を除いてすべて入力必須項目です</li>
  <li>条件の選択でどれにも当てはまらなかったり、付け加えたいことがありましたら「その他条件」の欄に記入してください</li>
</ul>
<%= form_with(model: @lend_farmland, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :哲学, { class: 'form-label' } %>
  <%= f.text_area :lend_philosophy, placeholder: '自分の農業に対する想いや、こんな人にこんな風に使って欲しいなど、自由に自身の世界観を書いてください', class: "mb-2 lend-philo"%>
  <div class="form-group row">
    <div class="col">
      <%= f.label :lend_municipality, '田畑のある市町村', { class: 'form-label' } %>
    </div>
    <div class="col-md-12 btn-group btn-group-toggle" data-toggle="buttons mb-2">
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lend_municipality, '茅野市', {} %> 茅野市
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lend_municipality, '諏訪郡原村', {} %> 諏訪郡原村
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lend_municipality, '諏訪郡富士見町', {} %> 諏訪郡富士見町
      </label>
    </div>
  </div>
  <%= f.label :いま選んだ市町村名の中から田畑がある地区を選択してください, { class: 'form-label' }  %>
  <div class="row mb-3">
    <div class="col">
      <%= f.select :lend_chino, LendFarmland.lend_chinos.keys, {} %>
    </div>
    <div class="col">
      <%= f.select :lend_hara, LendFarmland.lend_haras.keys, {} %>
    </div>
    <div class="col">
      <%= f.select :lend_fujimi, LendFarmland.lend_fujimis.keys, {} %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <%= f.label :lend_area, '田畑の面積', { class: 'form-label' } %>
    </div>
    <div class="col-md-12 btn-group btn-group-toggle mb-2" data-toggle="buttons">
      <label class="btn btn-outline-dark lend-area" style="width:50%">
        <%= f.radio_button :lend_area, '五畝未満', {} %> 五畝未満
      </label>
      <label class="btn btn-outline-dark lend-area" style="width:50%">
        <%= f.radio_button :lend_area, '五畝〜一反', {} %> 五畝〜一反
      </label>
      <label class="btn btn-outline-dark lend-area" style="width:50%">
        <%= f.radio_button :lend_area, '一反〜一反五畝', {} %> 一反〜一反五畝
      </label>
      <label class="btn btn-outline-dark lend-area" style="width:50%">
        <%= f.radio_button :lend_area, '一反五畝〜二反:', {} %> 一反五畝〜二反
      </label>
      <label class="btn btn-outline-dark lend-area" style="width:50%">
        <%= f.radio_button :lend_area, '二反〜二反五畝', {} %> 二反〜二反五畝
      </label>
      <label class="btn btn-outline-dark lend-area" style="width:50%">
        <%= f.radio_button :lend_area, '二反五畝以上', {} %> 二反五畝以上
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <%= f.label :lend_field_type, '貸す農地の種類', { class: 'form-label' } %>
    </div>
    <div class="col-md-12 btn-group btn-group-toggle mb-2" data-toggle="buttons">
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lend_field_type, '田', {} %> 田
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lend_field_type, '畑', {} %> 畑
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lend_field_type, 'その他', {} %> その他
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <%= f.label :immediate_lending, '農地をすぐに貸し出せるか', { class: 'form-label' } %>
    </div>
    <div class="col-md-12 btn-group btn-group-toggle mb-2" data-toggle="buttons">
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :immediate_lending, '可', {} %> 可
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :immediate_lending, '不可', {} %> 不可
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <%= f.label :status, '農地の交渉状況（登録時は「受付中」のままにしておいてください）', { class: 'form-label' } %>
    </div>
    <div class="col-md-12 btn-group btn-group-toggle mb-2" data-toggle="buttons">
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :status, '受付中', { checked: true } %> 受付中
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :status, '相談中', {} %> 相談中
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :status, '契約済', {} %> 契約済
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <%= f.label :watering, 'かん水設備の有無', { class: 'form-label' } %>
    </div>
    <div class="col-md-12 btn-group btn-group-toggle mb-2" data-toggle="buttons">
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :watering, 'あり', {} %> あり
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :watering, 'なし', {} %> なし
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <%= f.label :sunlight, '田畑の日当たり具合', { class: 'form-label' } %>
    </div>
    <div class="col-md-12 btn-group btn-group-toggle mb-2" data-toggle="buttons">
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :sunlight, 'とても良い', {} %> とても良い
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :sunlight, '良い', {} %> 良い
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :sunlight, '普通', {} %> 普通
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :sunlight, '悪い', {} %> 悪い
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :sunlight, 'とても悪い', {} %> とても悪い
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <%= f.label :agricultural_machine, '農業機械や車の乗り入れが可能か', { class: 'form-label' } %>
    </div>
    <div class="col-md-12 btn-group btn-group-toggle mb-2" data-toggle="buttons">
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :agricultural_machine, '可能', {} %> 可能
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :agricultural_machine, '不可能', {} %> 不可能
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <%= f.label :crop, '栽培最適作物', { class: 'form-label' } %>
    </div>
    <div class="col-md-12 btn-group btn-group-toggle mb-2" data-toggle="buttons">
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :crop, 'セロリ', {} %> セロリ
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :crop, 'ブロッコリー', {} %> ブロッコリー
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :crop, 'キャベツ', {} %> キャベツ
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :crop, 'パセリ', {} %> パセリ
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :crop, 'その他の作物', {} %> その他の作物
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <%= f.label :field_situation, '過去3年ほどの田畑の状況', { class: 'form-label' } %>
    </div>
    <div class="col-md-12 btn-group btn-group-toggle mb-2" data-toggle="buttons">
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :field_situation, '生産している', {} %> 生産している
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :field_situation, 'ほとんど使っていない', {} %> ほとんど使っていない
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :field_situation, '何も作っていない', {} %> 何も作っていない
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <%= f.label :lending_period, '貸出可能期間', { class: 'form-label' } %>
    </div>
    <div class="col-md-12 btn-group btn-group-toggle mb-2" data-toggle="buttons">
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lending_period, '一年未満', {} %> 一年未満
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lending_period, '一年〜二年', {} %> 一年〜二年
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lending_period, '二年〜三年', {} %> 二年〜三年
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lending_period, '三年以上', {} %> 三年以上
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lending_period, '現時点では未定', {} %> 現時点では未定
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <%= f.label :lending_term, '貸出条件', { class: 'form-label' } %>
    </div>
    <div class="col-md-12 btn-group btn-group-toggle mb-2" data-toggle="buttons">
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lending_term, '無償', {} %> 無償
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lending_term, '条件付き無償', {} %> 条件付き無償
      </label>
      <label class="btn btn-outline-dark" style="width:50%">
        <%= f.radio_button :lending_term, '有償', {} %> 有償
      </label>
    </div>
  </div>
  <%= f.label :その他の条件, { class: 'form-label' } %>
  <%= f.text_area :lend_other_term, placeholder: '貸出に関し、付け加えたい情報があればここに書いてください', class: "mb-2 lend-other-term"%>
  <%= f.label :田畑の様子がわかる画像, { class: 'form-label' } %>
  <%= f.file_field :farm_image, accept: "image/jpeg,image/gif,image/png", class: "mb-2" %>
  <%= f.submit yield(:button_text), class: "btn btn-dark" %>
<% end %>
</div>
