<div class="row">
  <div class="col-md-3">
    <h5><%= @current_user.name %></h5>
    <% if lend_farmland.farm_image.attached? %>
      <%= image_tag lend_farmland.farm_image.variant(resize_to_limit: [100, 100]) %>
    <% else %>
      <img src="/assets/placeimg_640_480_nature.jpg">
    <% end %>
  </div>
  <div class="col-md-9">
    <%= lend_farmland.lend_philosophy %>
    <%= lend_farmland.crop %>
    <%= lend_farmland.status %>
    <%= lend_farmland.lend_municipality %>
    <% case lend_farmland.lend_municipality %>
    <% when '茅野市' %>
    <%= lend_farmland.lend_chino %>
    <% when '諏訪郡原村' %>
    <%= lend_farmland.lend_hara %>
    <% when '諏訪郡富士見町' %>
    <%= lend_farmland.lend_fujimi %>
  <% end %>
</div>
</div>
