<% provide(:title, 'Lend farmlands list') %>
<div class="container py-4">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="card-group">
            <div class="card-body">
              <ul class="tab-list">
                <li class="tab tab-active">全てを表示</li>
                <li class="tab">茅野市の農地</li>
                <li class="tab">原村の農地</li>
                <li class="tab">富士見町の農地</li>
                <li class="tab">地図で探す</li>
              </ul>
              <br>
              <div class="tabbox-contents">
                <div class="tabbox box-show">
                  <%= link_to '農地を貸したい', new_lend_farmland_path, class: "btn btn-dark" %>
                  <%= render @lend_farmlands %>
                </div>
                <div class="tabbox">
                  <%= link_to '農地を貸したい', new_lend_farmland_path, class: "btn btn-dark" %>
                  <%= render template: 'lend_farmlands/chino_index' %>
                </div>
                <div class="tabbox">
                  <%= link_to '農地を貸したい', new_lend_farmland_path, class: "btn btn-dark" %>
                  <%= render template: 'lend_farmlands/hara_index' %>
                </div>
                <div class="tabbox">
                  <%= link_to '農地を貸したい', new_lend_farmland_path, class: "btn btn-dark" %>
                  <%= render template: 'lend_farmlands/fujimi_index' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
  // ↓タブをクリックした時の処理↓
  $('.tab').click(function(){
  // ↓現在アクティブなタブを切り替え↓
  $('.tab-active').removeClass('tab-active');
  // ↓タブをアクティブにする↓
  $(this).addClass('tab-active');
  // ↓現在アクティブなタブの中身を非表示
  $('.box-show').removeClass('box-show');
  // ↓クリックしたタブから順番を取得↓
  const index = $(this).index();
  // ↓クリックしたタブと同じ順番のコンテンツを表示↓
  $('.tabbox').eq(index).addClass('box-show');
  });
  });
</script>
