<% provide(:title, 'Lend farmlands') %>
<% provide(:button_text, 'この内容で登録する') %>
<div class="container py-4">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h1 class="mb-4">貸したい農地の情報登録</h1>
      <ul class="form-mes">
        <li>最後の「その他条件」を除いてすべて入力必須項目です</li>
        <li>条件の選択でどれにも当てはまらなかったり、付け加えたいことがありましたら「その他条件」の欄に記入してください</li>
      </ul>
      <%= form_with(model: @lend_farmland, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :哲学 %>
        <%= f.text_area :lend_philosophy, placeholder: '自分の農業に対する想いや、こんな人にこんな風に使って欲しいなど、自由に自身の世界観を書いてください', class: "mb-2"%>
        <div class="form-group row">
          <div class="col">
            <%= f.label :lend_municipality, '田畑のある市町村', { class: 'form-label' } %>
          </div>
          <div class="col-sm-12 btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-dark" style="width:50%">
              <%= f.radio_button :lend_municipality, '茅野市', {} %> 茅野市
            </label>
            <label class="btn btn-outline-dark" style="width:50%">
              <%= f.radio_button :lend_municipality, '原村', {} %> 原村
            </label>
            <label class="btn btn-outline-dark" style="width:50%">
              <%= f.radio_button :lend_municipality, '富士見町', {} %> 富士見町
            </label>
          </div>
        </div>
        <%= f.select :lend_chino, LendFarmland.lend_chinos.keys, {} %>
      </div>
    <% end %>
  </div>
</div>
</div>
