<%= provide(:title, 'LendFarmland details' ) %>
<h1>Lend farmland details</h1>
<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <% if @lend_farmland.farm_image.attached? %>
                <%= image_tag @lend_farmland.farm_image.variant(resize_to_limit: [200, 200]) %>
              <% else %>
                <img src="/assets/placeimg_640_480_nature.jpg">
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <div>
                <table cellpadding="10px">
                  <tr>
                    <th class="icon bird">
                      <img src="/assets/kansuisetsubi.svg" class="logo4">
                      哲学
                    </th>
                    <td><%= @lend_farmland.lend_philosophy %></td>
                  </tr>
                  <tr>
                    <th>田畑の住所</th>
                    <td>
                      <%= @lend_farmland.lend_municipality %>
                      <% if @lend_farmland.lend_municipality_before_type_cast == 0 %>
                        <%= @lend_farmland.lend_chino %>
                      <% elsif @lend_farmland.lend_municipality_before_type_cast == 1 %>
                        <%= @lend_farmland.lend_hara %>
                      <% else %>
                        <%= @lend_farmland.lend_fujimi %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <th>田畑の詳しい住所</th>
                    <td><%= @lend_farmland.address %>
                      <div id="map"></div>
                    </td>
                  </tr>
                  <tr>
                    <th>田畑の面積</th>
                    <td><%= @lend_farmland.lend_area %></td>
                  </tr>
                  <tr>
                    <th>農地の種類</th>
                    <td><%= @lend_farmland.lend_field_type %></td>
                  </tr>
                  <tr>
                    <th>いつ借りられるか</th>
                    <td><%= @lend_farmland.immediate_lending %></td>
                  </tr>
                  <tr>
                    <th>かん水設備</th>
                    <td><%= @lend_farmland.watering %></td>
                  </tr>
                  <tr>
                    <th>田畑の日当たり</th>
                    <td><%= @lend_farmland.sunlight %></td>
                  </tr>
                  <tr>
                    <th>農業機械が入れるか</th>
                    <td><%= @lend_farmland.agricultural_machine %></td>
                  </tr>
                  <tr>
                    <th>栽培最適作物</th>
                    <td><%= @lend_farmland.crop %></td>
                  </tr>
                  <tr>
                    <th>過去三年の田畑の状況</th>
                    <td><%= @lend_farmland.field_situation %></td>
                  </tr>
                  <tr>
                    <th>貸出可能期間</th>
                    <td><%= @lend_farmland.lending_period %></td>
                  </tr>
                  <tr>
                    <th>貸出条件</th>
                    <td><%= @lend_farmland.lending_term %></td>
                  </tr>
                  <tr>
                    <th>その他条件</th>
                    <%# if @lend_farmland.lend_other_term.any? %>
                    <td><%= @lend_farmland.lend_other_term %></td>
                  </tr>
                  <%# end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function initMap() {
    var test ={lat: <%= gon.lend_farmland.latitude %>, lng: <%= gon.lend_farmland.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
  
    var contentString = '田畑の詳しい住所：<%= gon.lend_farmland.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
  
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });
  
     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>
<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=#{ ENV['GOOGLE_API_KEY'] }&callback=initMap"></script>
