<%= provide(:title, 'Sign up') %>
<h1>アカウント作成</h1>
<div class="signup-mes">
  web上ではユーザーネームが表示され、ご入力頂いた姓名が表示されることはありません
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6  offset-sm-3">
      <%= form_with(model: @user, local: true) do |f| %>
      <div class="row">
        <div class="col">
          <%= f.label :姓 %>
          <%= f.text_field :nonscreen_last_name, placeholder: "例）鈴木" %>

        </div>
        <div class="col">
          <%= f.label :名 %>
          <%= f.text_field :nonscreen_first_name, placeholder: "例）太郎" %>
        </div>
      </div>
      <%= f.label :ユーザーネーム %>
      <%= f.text_field :name %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email %>

      <%= f.label :パスワード %>
      <%= f.password_field :password %>

      <%= f.label :パスワード確認 %>
      <%= f.password_field :password_confirmation %>

      <div class="form-group row">
        <div class="col">
          <%= f.label :gender_identities, '性別', {class: 'form-label'} %>
        </div>
        <div class="col-sm-12 btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-dark active" style="width:50%">
            <%= f.radio_button :gender_identities, 0, {checked: true} %> 男性
          </label>
          <label class="btn btn-outline-dark" style="width:50%">
            <%= f.radio_button :gender_identities, 1, {} %> 女性
          </label>
          <label class="btn btn-outline-dark" style="width:50%">
            <%= f.radio_button :gender_identities, 2, {} %> その他
          </label>
          <label class="btn btn-outline-dark" style="width:50%">
            <%= f.radio_button :gender_identities, 3, {} %> 回答しない
          </label>
        </div>
      </div>

      <%= f.label :自己紹介 %>
      <%= f.text_area :self_info %>

      <%= f.submit "この内容でアカウントを作成する", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
</div>
