<% provide(:title, @user.name) %>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>ユーザー情報</h1>
      <%= @user.name %>
      <%= @user.gender_identities %>
      <%= @user.birthday %>
      <%= @user.address %>
      <%= @user.self_info %>
      <%= link_to 'アカウント設定', '#' %>
      <div class="row">
        <div class="col-8 col-sm-6">
          田畑の情報<br>
          <%= link_to '詳しくみる', '#' %>
        </div>
        <div class="col-4 col-sm-6">
          田畑の情報<br>
          <%= link_to '詳しくみる', '#' %>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <% if @user.posts.any? %>
      <div class="posts-h4">
        <h4>Posts (<%= @user.posts.count %>)</h4>
      </div>
      <div class="posts">
        <%= render @posts %>
      </div>
      <% end %>
    </div>
  </div>
</div>
