<% provide(:title, @user.name) %>
<h1>ユーザー情報</h1>
<div class="container py-4">
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-12">
        <div class="card-group">
          <div class="card-body">
            <div class="row">
              <div class="mypage-avatar">
                <% if @user.avatar.attached? %>
                  <div class="avatar">
                    <%= image_tag @user.avatar, class: "avatar" %>
                  </div>
                <% else %>
                  <img src="/assets/profile_default_img_128.png" class="default-avatar">
                <% end %>
              </div>
              <div class="col-md-10">
                <div class="mypage-name">
                  <%= link_to @user.name, @user %>
                </div>
                &nbsp;
                <% if @user.address.present? %>
                  <div class="user-address">
                    <%= @user.address %>在住
                  </div>
                <% end %>
                <div class="mypage-self_info">
                  <%= @user.self_info %>
                </div>
                <div class="text-right">
                  <% if current_user? (@user) %>
                    <%= link_to 'アカウント設定', edit_user_path(@user), class: "btn btn-dark"  %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if @user.lend_farmlands.any? || @user.rent_farmlands.any? %>
        <div class="col-md-12">
          <div class="card-group">
            <div class="card-body">
              <%= render @lend_farmlands %>
              <%= render @rent_farmlands %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <% if @user.posts.any? %>
        <div class="card-body mb-2">
          <div class="posts-count">
            <div class="posts-h4">
              <h4>Posts (<%= @user.posts.count %>)</h4>
            </div>
          </div>
        </div>
        <%= render @posts %>
      <% end %>
    </div>
  </div>
</div>
