<div class="post-index">
  <div class="card-group">
    <div class="card">
      <a href="/posts/<%= post.id %>" class="card-body">
        <div class="post-info">
          <span class="user">
            <h4><%= post.user.name %></h4>
          </span>
          &nbsp;
          <span class="timestamp">
            Posted <%= time_ago_in_words(post.created_at) %>
          </span>
          <span id="post_<%= post.id %>" class="like-btn">
            <%= render 'likes', post: post %>
          </span>
        </div>
        <span class="content card-body"><%= post.content %></span>
        <br>
        <br>
        <% if current_page?(controller: 'posts', action: 'index')%>
          <%= image_tag post.posts_articles_image if post.articles_image.attached? %>
        <% else %>
          <%= image_tag post.users_articles_image if post.articles_image.attached? %>
        <% end %>
      </a>
      <div class="post-destroy card-body">
        <% if current_user?(post.user) %>
          <%= link_to "削除", post, method: :delete, class: "btn btn-outline-secondary", data: { confirm: '本当に削除してもよろしいですか？'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
