<div class="post-index">
  <div class="card-group">
    <div class="card">
      <a href="/posts/<%= post.id %>" class="card-body">
        <span class="user">
          <h4><%= post.user.name %></h4>
        </span>
        <span class="timestamp">
          Posted <%= time_ago_in_words(post.created_at) %>
        </span>
        <br>
        <span class="content"><%= post.content %></span>
        <br>
        <% if current_page?(controller: 'posts', action: 'index')%>
          <%= image_tag post.posts_articles_image if post.articles_image.attached? %>
        <% else %>
          <%= image_tag post.users_articles_image if post.articles_image.attached? %>
        <% end %>
      </a>
      <div class="post-destroy card-body">
        <% if current_user?(post.user) %>
          <%= link_to "削除", post, method: :delete, class: "btn btn-outline-secondary", data: { confirm: '本当に削除してもよろしいですか？'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
