<%= provide(:title, 'Post details') %>
<h1>Post details</h1>
<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <div class="card-text">
                <span class="user"><%= @post.user.name %></span>
                <span class="timestamp">
                  Posted <%= time_ago_in_words(@post.created_at) %>
                </span>
                <br>
                <span class="content"><%= @post.content %></span>
                <!-- 画像の表示！！ -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ここはコメント機能！！ -->
      <div class="col-sm-4">
        <div class="card-body">
          <%= @current_user.name %>
        </div>
      </div>
    </div>
  </div>
</div>
