<%= provide(:title, 'Post details' ) %>
<h1>Post details</h1>
<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <div class="user card-body">
                <h5><%= @post.user.name %></h5>
              </div>
              <div class="content card-body">
                <%= @post.content %>
              </div>
              <div class="card-body">
                <%= image_tag @post.posts_articles_image if @post.articles_image.attached? %>
              </div>
              <div class="card-body">
                <div class="post-delete-link">
                  <% if current_user?(@post.user) %>
                  <%= link_to "削除", @post, method: :delete, class: "btn btn-secondary", data: { confirm: '本当に削除してもよろしいですか？'}%>
                  <% end %>
                </div>
              </div>
              <!-- <div class="card-body"> -->
              <div id="comments_area">
                <%= render partial: 'comments/index', locals: { comments: @comments } %>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <% if logged_in? %>
        <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        <% end %>
      </div>
      <br>
    </div>
  </div>
</div>
