<header class="navbar navbar-expand-md navbar-transparent">
  <div class="container">
    <%= link_to '8gatake farm', root_path, id: 'logo' %>
    <nav>
      <ul class="navbar-nav">
        <li class="nav-link"><%= link_to 'about', about_path %></li>
        <li class="nav-link"><%= link_to 'contact', contact_path %></li>
        <li class="nav-link"><%= link_to 'login', '#' %></li>
        <li class="nav-link"><%= link_to 'signup', '#' %></li>
      </ul>
    </nav>
  </div>
</header>
